
.logo-docplanner{
    width: 22%;
    height: 18%;
}

.d-flex h1{
    font-size: 2.125rem;
    color: #00b39b;
}
.doc-logo{
    margin-top: 8%;
}
.doc-title{
    margin-top: 2%;
}
.paragraphe{
    margin-top:5%;
}
.two-column{
    margin-top: 7%;
}
.patient {
    background: #00b39b;
    color: #fff;
    text-shadow: none;
    
}
.patient h2{
    font-size: .875em;
    font-weight: 400;
    margin: 0;
    color: hsla(0,0%,100%,.7);
}
.patient h1{
    font-size: 1.625em;
    color: #fff;
    margin-top: .3em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
}
.patient img{
    margin-top: -14%;
}
.choose-country{
    width: 38%;
}

.doctors{
    background: #3d83df;
    color: #fff;
    text-shadow: none;
}
.doctors h2{
    font-size: .875em;
    font-weight: 400;
    margin: 0;
    color: hsla(0,0%,100%,.7);
}
.doctors h1{
    font-size: 1.625em;
    color: #fff;
    margin-top: .3em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;

}
.doctors img{
     margin-top: 5%;
}
.figure img{
    display: block;
    margin-left: 33%;
}
.figure2 {
    margin-top: 8%;
}
.text-links{
    margin-top: 5%;
    margin-bottom: 5%;  

}
.text h1{
       
    font-size: 1.625em;
    margin-left: 41%;
    color: #00b39b;
}
.link-navbar a{
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
    
}
.stats h1{
    font-size: 2.125rem;
    color: #00b39b;

}
.stats p{
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;

}
.column1{
    text-align: justify;
    line-height: 1.3;
}
.cartes {
 text-align: center;
}
.cartes h3{
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: .5em 0;
}
.cartes p{
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
}
.line1 {
    text-align: center;
    margin-top: 6%;
}
/* .country1{
    display: flex;
}
.country2{
    display: flex;
}*/
.line2 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 6%;
} 
.liste-image{
    margin-bottom: 10%;
}
.button1{
    margin-left: 28%;
}
.button1-1{
    margin-left: 18%;
}
.footer-text {
    font-size: .75em;
    color: #ababab;

}
.footer-text a{
    
    color: #3d83df;
}
.horizontal-line{
    margin-bottom: 3%;
}
.carte2{
    width: 18rem;
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) {


    .doc-title{
        margin-top: 8px;
    }

    .doc-logo{
        margin-top: 15%;
    }
    .doc-title{
        margin-top: 2%;
        text-align: center;
    }
    .bg-image{
        height: 724px;

    }
    .text h1{
       
        margin-left:3%;
        text-align: center;
    }
    .carte2{
        margin-left:18%;  
    }
 }

